body {
    font: 16px "IBM Plex Sans", Futura, sans-serif;
    zoom: 150%;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background-color: black;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square:focus {
    outline: none;
}

.kbd-navigation .square:focus {
    background: black;
}

.game {
    display: flex;
    flex-direction: column;
    border: double 4px rgb(134, 2, 2);
    margin: 20px;
    padding: 10px;
}

.game-info {
    margin: 20px auto;
}

.game-board {
    margin: auto;
    zoom: 150%;
}

.better-board {
    border: dotted 2px white;
    padding: 10px;
    margin: 10px;
}

.winner {
    border: solid 5px green;
    padding: 20px;
    text-align: center;
    font-size: xx-large;
}

.draw {
    border: solid 5px gray;
    padding: 20px;
    text-align: center;
    font-size: xx-large;
}
